# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*ezio

# Debug files
*.dSYM/
*.su

# Utils files
/utils/linux
/utils/initrd.img
/utils/initrd.img.tmp
/utils/tmp/
